<p id="notice"><%= notice %></p>
<h1 class="text-center">Projects</h1>
<div class="row fluid">
  <% @projects.each do |project| %>
    <div class="col-6">
      <p>ESTADO</p>
    </div>
    <div class="col-6">
      <p>BOTONES</p>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Edit'.html_safe, edit_project_path(project) , type: "button", class: "btn btn-primary delete-button-background delete-text-color"%>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Show'.html_safe, project , type: "button", class: "btn btn-primary delete-button-background delete-text-color"%>
    </div>
    <div class="col-fluid">
      <div class=row>
        <div class="col-6">
          <h2><%= project.name %></h2>
          <%= project.description %>
        </div>
        <div class="col-6">
          <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i> Delete'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' }, type: "button", class: "btn btn-primary delete-button-background delete-text-color" %>
        </div>
      </div>
    </div>
    <hr/>
  <% end %>
</div>
<%= link_to 'New Project', new_project_path %>
